*,
*::before,
*::after {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-us-container {
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.about-us-header {
  text-align: center;
}

.about-us-header h1 {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  position: absolute;
  top: 3.5em;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-filter {
  background-image: linear-gradient(hsl(96, 24%, 44%), hsl(0, 0%, 0%, 5%));
  z-index: 1;
  position: absolute;
  height: 385px;
  width: 100%;
}

.about-us-header img {
  filter: contrast(0.5) saturate(2.5);
  width: 100%;
  object-fit: cover;
  height: 400px;
  position: relative;
}

.about-us-content {
  margin-top: 0rem;
  text-align: center;
  display: block;
}

/* For FirstSection.jsx */
.first-section {
  display: flex;
  text-align: center;
  padding-top: 3rem;
  padding-right: 5em;
  padding-left: 5em;
}

.text-container-one {
  text-align: left;
  padding-top: 3em;
  margin-right: 10em;
}

.text-container-one h3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-green);
}

.text-container-one p {
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  margin-top: 1em;
}

.text-container-one img {
  position: relative;
  margin-left: 3em;
  width: 70%;
}

/* For SecondSection.jsx */
.second-section {
  display: flex;
  text-align: left;
  padding-top: 5rem;
  padding-right: 5em;
  padding-left: 5em;
  gap: 5em;
}

.second-section-text {
  margin-top: 3em;
}

.second-section-text h3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-green);
}

.second-section-text p {
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  margin-top: 1em;
}

.second-section-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* For ThirdSection.jsx */
.third-section {
  display: flex;
  padding-top: 5em;
  padding-right: 5em;
  padding-left: 5em;
}

.third-section-text {
  text-align: left;
  margin-right: 10em;
}

.third-section-text h3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-green);
  margin-top: 3rem;
}

.third-section-text p {
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  margin-top: 1em;
}

.third-section-text img {
  width: 80%;
}

@media all and (max-width: 1250px) {
  .text-container-one img {
    right: 5em;
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  .first-section {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .first-section-images {
    display: flex;
    justify-content: center;
    gap: 1vw;
  }

  .first-section-images img {
    width: 45vw;
    height: 45vw;
  }

  .text-container-one {
    text-align: justify;
    margin-right: 0em;
  }

  .text-container-one h3 {
    text-align: center;
  }

  .text-container-one img {
    right: 2em;
    width: 90%;
  }

  /* For the 'bottom-section' */
  .second-section {
    text-align: justify;
    padding-right: 5vw;
    padding-left: 5vw;
    display: block;
  }

  .second-section h3 {
    text-align: center;
  }

  /* For ThirdSection.jsx */
  .third-section {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 2rem;
    padding: 5vw;
  }

  .third-section-text {
    text-align: center;
    margin-right: 0rem;
  }

  .third-section-text p {
    text-align: justify;
  }

  .third-section-images {
    display: flex;
    justify-content: center;
    gap: 1vw;
  }

  .third-section-images img {
    width: 45vw;
    height: 45vw;
  }
}

@media all and (max-width: 420px) {
  /* .about-us-header h1 {
    font-size: 40px;
    font-weight: 300;
    color: var(--main-beige);
    z-index: 1;
    position: relative;
    top: -9.5em;
    margin-bottom: -8.1em;
  } */
}